 .form-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    width: 90%;
    max-width: 400px;
    padding: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid #7676df;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    display: flex; 
    flex-direction: column;
    align-items: center;

}
h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: wheat;
    margin-bottom: 10px;
}

.login-btn {
    position: relative;
    background-color: #9898f8;
    border-radius:25px;
    padding: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: border-box;
    width: 154px;
    height: 49px;
    color: #fff;
    border: 1px solid #8d8df3;
    font-size: 20px;
    transition: all 0.01s ease-in-out;
    z-index: 1;
    overflow: hidden;
    margin-top: 20px;
}
.login-btn::before {
    content: "";
    background-color: #7676df;
    border: none;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}
.login-btn:hover::before {
    width: 100%;
    border: none;
}


/*  Loader */

.form-container {
    position: relative;
  }
  
  .loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10; 
    border-radius: 25px;
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #1b86a9; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

